body {
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
}

.container {
  border-radius: 10px;
  width: 80%;
  background-color: rgb(103, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  min-width: 205px;
  height: 40px;
  border: 1px;
  border-radius: 10px;
}

button {
  min-width: 205px;
  height: 40px;
  border: 0px solid white;
  border-radius: 10px;
  background-color: rgb(243, 170, 74);
}
