@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
}

.container {
  border-radius: 10px;
  width: 80%;
  background-image: linear-gradient(to right, #9ff3b8, #f3e887);

  display: flex;
  justify-content: center;
  align-items: center;
}

#content,
#content2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  min-width: 205px;
  height: 40px;
  border: 1px;
  border-radius: 10px;
}

button {
  min-width: 205px;
  height: 40px;
  border: 0px solid white;
  border-radius: 10px;
  background-color: rgb(243, 170, 74);
  font-size: larger;
}

button:hover {
  background-image: linear-gradient(to right, #ffc470, #a3ffd6);
  cursor: pointer;
}
